$lineargradient-footer:linear-gradient(90deg,red, orange, yellow, lightgreen, green, blue, cyan, white);;
$background-color-header:#292929;
$G:grid;
$gtc:grid-template-columns;
$gtr:grid-template-rows;